body {
  background: rgb(0,0,0);
}

img {
  background: url("../../assets/img/The%20Techie%20Logo%20Final.png") center / contain no-repeat;
  width: 100px;
  margin-left: auto!important;
  margin-right: auto!important;
}

